/* hero*/

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../img/new_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $hero-background;
    text-align: center;

    &__title {
            color: $primary-color;
    
            font-style: normal;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
    
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
}



/* button*/

.hero__button {
    padding-top: 10px;
    padding-right: 32px;
    padding-bottom: 10px;
    padding-left: 32px;
    margin-top: 30px;
    color: $primary-color;
    background-color: $accent-color;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms $timing-funktion;

    &:hover, &:focus {
         background-color: $button-background-hero;
        }
}
