.logo {
    display: inline-block;

    color: $accent-color;
    font-family: $second-font;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    text-decoration: none;
}

.logo-header {
    color: $accent-logo-color;
}

.logo-footer {
    color: $primary-color;
}